# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Jupyter Lab
.jupyter/

# IPython
profile_default/
ipython_config.py

# Environment
.env
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db
